{% extends "base.html" %}

{% block title %}./feedback{% endblock %}

{% block content %}
  <div id="initial_message">
    <p class="text-description">
        Welcome to <span class="text-important"><strong>feedback</strong></span> page.
      <a class="arrow arrow-right" href="{{url_for('exit')}}"><b>Home</b></a>
    </p>
    <hr>
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
            <a>{{ message }}</a>
          {% endfor %}
          <hr>
      {% endif %}
    {% endwith %}
  </div>
  {% block output %}{% endblock %}
{% endblock %}

{% block main %}
    <form method="POST" novalidate>
      {{ form.hidden_tag() }}
      
      {{ form.username.label }} <br>
      {{ form.username }} <br> <br>

      {{ form.feedback.label }} <a class="arrow arrow-right"><b>{{ form.submit }}</b></a> <br>
      <br>
      {{ form.feedback }}  
    </form>
    <hr>
    <div class="w-50 feedback-div">
      {% for feedback in feedback_list %}
        <p class="text-description">ጰ {{ feedback.username }}, 🗓 {{ feedback.date }}</p>
        <wbr class="text-important">{{ feedback.feedback }}</wbr>
        <hr>
      {% endfor %}
    </div>
{% endblock %}
