@font-face {
    font-family: "JetBrains";
    src: url('../fonts/JetBrainsMono-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 28px;
}

body {
    font-family: "JetBrains";
    margin: 0;
    padding: 25px 40px;
    min-height: 99%;
    width: 100%;
    min-width: 550px;
    color: #519975;
    background: #1b1918;
    overflow-x: hidden;
}

::selection {
    color: #211830;
    background-color: #519975;
}

::-moz-selection {
    color: #211830;
    background-color: #519975;
}

b {
    font-weight: bold;
    text-decoration: underline;
}

/* Cursor Start */
.caret {
    font-size: 28px;
    color: #73ABAD;
    background-color: #73ABAD;
    height: 1.5em;
    width: 20px;
    max-width: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    animation: blinker 1s linear infinite;
}

.caret-block {
    position: relative;
    display: inline-block;
}

textarea.form-control {
    white-space: nowrap;
    width: 50vw;
    padding-left: 0px;
    margin-left: 10px;
    background: #1b1918;
    resize: none !important;
    outline: none !important;
    border: none !important;
    overflow: hidden;
    caret-color: rgba(0, 0, 0, 0);
}

textarea.form-control:focus {
    background: #1b1918;
    box-shadow: none;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Cursor End */

p {
    font-family: "JetBrains";
    display: block;
    line-height: 1.3em;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    letter-spacing: 0.05em;
    animation: typing 0.5s steps(30, end);
}

.no-animation {
    animation: typing 0 steps(30, end);
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.index {
    color: #DCDCCC;
}

.inherit, a {
    color: #9C8394;
}
a {
    text-decoration: inherit;
}

a:hover {
    background: #73ABAD;
    color: #211830;
}

a:focus {
    outline: 0;
}

/* ASCII Art */
pre {
    font-family: "JetBrains";
    font-size: 28px;
    margin-bottom: 0px;
    overflow: hidden;
    animation: typing 1.0s steps(30, end);
    color: rgb(100, 157, 117);
}

/* Colors */
.text-default {
    color: #519975;
}

.text-description {
    color: #B89076;
}

.text-special {
    color:#c44b4b
}

.text-important {
    color: #4cb469;
    text-shadow: 0 0 5px #22865e; 
}

.text-command {
    color: #73ABAD;
    text-shadow: 0 0 5px #73ABAD; 
}

.text-error {
    color: #B89076;
}

.gallery-wrapper {
    position: relative;
    flex-grow: 1;

    max-width: 1200px;
    max-height: 1200px;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2vmin;
    justify-items: center;
    align-items: center;
}
  
img {
    z-index: 1;
    grid-column: span 2;
    max-width: 100%;
    margin-bottom: -52%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transform: scale(1);
    transition: all .25s;

    &:nth-child(7n + 1) {
        grid-column: 2 / span 2;
    }

    &:hover {
        z-index: 2;
        transform: scale(2);
    }
}

table {
    border-collapse: collapse;
    border: none;
    width: 70%;
}
  
td, th {
    border-bottom: 1px solid #304038;
    text-align: left;
    padding: 5px;
    padding-right: 30px;
}

.arrow {
    position: relative;
    width: 120px;
    background: #519975;
    height: 40px;
    line-height: 40px;
    margin-bottom: 30px;
    text-align: center;
    color: #1b1918;
    padding-left: 5px;
    transition: background-color 0.3s; /* Add a transition for smoother color change */
}

.arrow:hover {
    background-color: #4cb469;
    box-shadow: 0 0 5px #22865e;
}

.arrow-right:after {
    content: "";
    position: absolute;
    right: -20px;
    top: 0;
    border-top: 20px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 20px solid #519975;
    transition: border-left-color 0.3s;
}

.arrow:hover:after {
    border-left-color: #4cb469 ;
}

.wtf-form-submitfield {
    width: 200px;
    font-weight: bold;
    background: none;
    border: none; 
    text-decoration: underline;
    cursor: pointer;
}

.wtf-form-inputfield {
    width: 50vh;
    background: rgba(255, 255, 255, 0.035);
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    color: white;
    text-align: center;
}

.wtf-form-textarea {
    width: 80vh;
    height: 25vh;
    background: rgba(255, 255, 255, 0.035);
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    color: white;
}

.wtf-form-textarea:focus {
    outline: 0;
    padding: 20px;
}

.feedback-div {
    word-wrap: break-word;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    font: inherit;
    color: #519975;
    width: 1.15em;
    height: 1.15em;
    border: 0.12em solid #519975;
    border-radius: 0.15em;
    display: grid;
    place-content: center;
}
  
input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: #bbbbbb;
}
  
input[type="checkbox"]:checked::before {
    transform: scale(1);
}
  
input[type="checkbox"]:focus {
    outline: none;
}
  
input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);

    color: var(--form-control-disabled);
    cursor: not-allowed;
}

.login-form {
    white-space: nowrap;
    width: 50vh;
    padding: 5px;
    background: #101010;
    border-radius: 0.4rem;
    resize: none !important;
    outline: none !important;
    border: none !important;
    overflow: hidden;
    caret-color: rgba(0, 0, 0, 0);
    width: 50vh;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 1em;
}
