{% extends "base.html" %}

{% block title %}./about{% endblock %}

{% block content %}
  <div id="initial_message">
    <p class="text-description">Opened route /gallery.</p>
    <p class="text-muted"><i>- Here you can look through what I've done.</i></p>
    <hr>
    <div class="gallery-wrapper">
      <img src="{{url_for('static', filename='images/cs16_1.png')}}" width="800" alt="">
      <img src="{{url_for('static', filename='images/cs16_2.png')}}" alt="">
      <img src="{{url_for('static', filename='images/fl_1.png')}}" alt="">
      <img src="{{url_for('static', filename='images/lol_1.png')}}" alt="">
      <img src="{{url_for('static', filename='images/lol_2.png')}}" alt="">
      <img src="{{url_for('static', filename='images/lol_3.png')}}" alt="">
      <img src="{{url_for('static', filename='images/lol_4.png')}}" alt="">
      <img src="{{url_for('static', filename='images/lol_5.png')}}" alt="">
      <img src="{{url_for('static', filename='images/lol_6.png')}}" alt="">
      <img src="{{url_for('static', filename='images/lol_7.png')}}" alt="">
    </div>
  </div>
  {% block output %}{% endblock %}
{% endblock %}

