{% extends "base.html" %}

{% block title %}./gallery{% endblock %}

{% block content %}
  <div id="initial_message">
    <div class="gallery-wrapper">
      <img class="gallery-img" src="{{url_for('static', filename='images/gallery/cs16_1.png')}}" width="800" alt="">
      <img class="gallery-img" src="{{url_for('static', filename='images/gallery/cs16_2.png')}}" alt="">
      <img class="gallery-img" src="{{url_for('static', filename='images/gallery/fl_1.png')}}" alt="">
      <img class="gallery-img" src="{{url_for('static', filename='images/gallery/lol_1.png')}}" alt="">
      <img class="gallery-img" src="{{url_for('static', filename='images/gallery/lol_2.png')}}" alt="">
      <img class="gallery-img" src="{{url_for('static', filename='images/gallery/lol_3.png')}}" alt="">
      <img class="gallery-img" src="{{url_for('static', filename='images/gallery/lol_4.png')}}" alt="">
      <img class="gallery-img" src="{{url_for('static', filename='images/gallery/lol_5.png')}}" alt="">
      <img class="gallery-img" src="{{url_for('static', filename='images/gallery/lol_6.png')}}" alt="">
      <img class="gallery-img" src="{{url_for('static', filename='images/gallery/lol_7.png')}}" alt="">
    </div>
  </div>
  {% block output %}{% endblock %}
{% endblock %}
