{% extends 'base.html' %}

{% block title %}List of Posts{% endblock %}

{% block main %}
<section>
    <div class="pageSection">
        <div>
            <br>
            <table class="databaseOutputTable">
                <thead class="databaseOutputTable">
                    <tr class="databaseOutputTable">
                        <th class="databaseOutputTable">Tag ID</th>
                        <th class="databaseOutputTable">Tag Link</th>
                    </tr>
                </thead>
                <tbody class="databaseOutputTable">
                    {% for tag in tags.items %}
                        <tr class="databaseOutputTable">
                            <td class="databaseOutputTable">
                                {{ tag.id }}
                            </td>
                            <td class="databaseOutputTable">
                                <a class="postAnchor" href="{{ url_for('posts.view_tag', id=tag.id) }}">{{ tag.name }}</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2" class="databaseOutputTable">
                                <strong>There are no tags yet</strong>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <div>
                <a class="arrow arrow-right" href="{{ url_for('posts.create_tag') }}"><b>New tag</a>
            </div>
            <br>
            <div>
                <a class="arrow arrow-right" href="{{ url_for('posts.view_posts') }}"><b>List of posts</a>
            </div>

            <div class="navContainer">
                <div class="navPagination">
                    <ul class="pagination mt-3">
                        {% if tags.has_prev %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('posts.view_tags', page=tags.prev_num) }}">Previous</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                        {% endif %}

                        {% for page_num in tags.iter_pages() %}
                            {% if page_num %}
                                {% if tags.page == page_num %}
                                <li class="page-item active">
                                    <span class="page-link">{{ page_num }}</span>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('posts.view_tags', page=page_num) }}">{{ page_num }}</a>
                                </li>
                                {% endif %}
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">...</span>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if tags.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('posts.view_tags', page=tags.next_num) }}">Next</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Next</span>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}