{% extends 'base.html' %}

{% block title %}Tag Update{% endblock %}

{% macro render_field(field, placeholder='') %}
    {% if field.name == 'name' %}
        {{ field(placeholder='Enter the new name of the tag: ', class_='upper-corner-input') }}<br><br>
    {% else %}
        {{ field(placeholder=placeholder, class_='upper-corner-input') }}<br><br>
    {% endif %}
    {% if field.errors %}
        {% for error in field.errors %}
            <p class="flash-error"><strong>{{ error }}</strong></p>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% block main %}
    <div class="pageSection">
        <h2>Tag Update</h2>
        <form method="POST" id="updatePostForm" action="{{ url_for('posts.update_tag' , id=tag.id) }}" novalidate enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ render_field(form.name) }}
            {{ render_field(form.submit) }}
        </form>
    </div>
{% endblock %}