{% extends 'base.html' %}
{% block title %} Posts {% endblock %}

{% block main %}
<section>
    <div class="pageSection">
        <img src="{{url_for('static', filename='images/posts/' + post.image_file)}}" width="300" height="300" class="rounded-circle">
        <br><br>
        <p>{{ post.type.name }}</p>
        <p>{{ post.title }}</p>
        <p>By {{ post.user.username }}</p>
        <p>Created at:  {{ created_at }}</p>
        <p>Category:  {{ category }}</p>
        <p>
            {% if post.tags|length != 0 %}
                Tags:
                {% for tag in post.tags %}
                    #{{tag.name}}
                {% endfor %}
            {% else %}

            {%endif%}
        </p>
        <div class="mainText">
            <p>{{ post.text }}</p>
        </div>
        <br>
        <div class="databaseOutputButtons">
            <a class="arrow arrow-right" href="{{ url_for('posts.update_post', id=post.id) }}"><b>Update post</a>
            <br><br>
            <a
                class="arrow arrow-right" 
                href="{{ url_for('posts.delete_post', id=post.id) }}" 
                onclick="return confirm('Are you sure you want to delete this post?');">
                <b>Delete post
            </a>
            <br><br>
            <a class="arrow arrow-right" href="{{ url_for('posts.view_posts') }}"><b>List of posts</a>
        </div>
    </div>
</section>
{% endblock %}