<div>
  <hr>
  <pre><span class="text-description">List of available <span class="text-command">commands:</span></span></pre>
  <pre><span class="text-command">whoami</span> -   <span class="text-description">Who are you?</span></pre>
  <pre><span class="text-command">help</span>   -   <span class="text-description">Obviously you already know what that does.</span></pre>
  <pre><span class="text-command">ls</span>     -   <span class="text-description">Lists available folders (routes).</span></pre>
  <pre><span class="text-command">cd</span>     -   <span class="text-description">Changes directory (route).</span></pre>
  <pre><span class="text-command">home</span>   -   <span class="text-description">Returns to home.</span></pre>
  <pre><span class="text-command">clear</span>  -   <span class="text-description">Clears the terminal screen.</span></pre>
</div>
