<div>
  <hr>
  <pre><span class="text-description">List of <span class="text-command">projects</span> I've created/contributed to:</span></pre>
  <pre><span class="text-description">4. </span><span class="text-command">True-Sight, League Of Legends team revealer</span>                 -  <a class="text-success" href="https://github.com/aASDa213ASD/true-sight">✔ Repository.</a></pre>
  <pre><span class="text-description">5. </span><span class="text-command">Fuck-The-Devil, External trainer for Devil Daggers</span>          -  <a class="text-success" href="https://github.com/aASDa213ASD/fuck-the-devil">✔ Repository.</a></pre>
  <pre><span class="text-description">6. </span><span class="text-command">Sigscan, External memory signature scanner</span>                  -  <a class="text-success" href="https://github.com/aASDa213ASD/sigscan">✔ Repository.</a></pre>
  <pre><span class="text-description">7. </span><span class="text-command">ASDWare, Undetected CS 1.6 external software</span>                -  <span class="text-warning">✗ Private.</span></pre>
  <pre><span class="text-description">1. </span><span class="text-command">LeagueAI, OpenCV League Of Legends Bot</span>                      -  <span class="text-warning">✗ Private.</span></pre>
  <pre><span class="text-description">2. </span><span class="text-command">Eclipse, Internal League Of Legends Script</span>                  -  <span class="text-warning">✗ Private.</span></pre>
  <pre><span class="text-description">3. </span><span class="text-command">Private-Skins, Internal League Of Legends skin-changer</span>      -  <span class="text-warning">✗ Private.</span></pre>
  <pre><span class="text-description">8. </span><span class="text-command">ARAMBoost, auto-seller python bot for black account market</span>  -  <span class="text-danger">✘ Discontinued.</span></pre>
  <pre><span class="text-description">9. </span><span class="text-command">Echozy.pw, CS:GO Internal Software</span>                          -  <span class="text-danger">✘ Discontinued.</span></pre>
  <br>
  <pre><span class="text-description">You can find more here: <a href="https://github.com/aASDa213ASD">github.com/aASDa213ASD</a>.</span></pre>
</div>
