<div>
  <hr>
  <!--<span class="text-command">commands:</span>-->
  <pre>
  <span class="text-description">Hey, I'm UNDEFINED! 👋</span>
  <span class="text-description">I'm a software developer at daylight and a reverse engineer at night</span>
  <span class="text-description">who builds <span class="text-command">websites</span>, <span class="text-command">exploits</span>, <span class="text-command">bots</span>, internal/external <span class="text-command">third party tools</span>.</span>
  <span class="text-description">Obviously enough, I prefer assembly/C++ for my so-called hobbie.</span>
  <span class="text-description">Never the less, I got to learn java, python, php and couple of other languages.</span>
  </pre>
</div>
