<div>
  <hr>
  <pre><span class="text-description">Hey, I'm <span class="text-important">▒▒▒▒▒▒▒▒▒▒</span>! 👋</span></pre>
  <pre><span class="text-description">I don't have a certain name to provide. But you can find me at <span class="text-important">number 16</span> of <span class="text-important">group 31.</span></span></pre>
  <pre><span class="text-description">People like me prefer to stay in shadow rather than having a badge.</span></pre>
  <pre><span class="text-description">I'm a software developer at daylight and a reverse engineer at night</span></pre>
  <pre><span class="text-description">who builds <span class="text-important">websites</span>, <span class="text-important">exploits</span>, <span class="text-important">bots</span> and internal/external <span class="text-important">third party tools</span>.</span></pre>
  <pre><span class="text-description">Obviously enough, I prefer <span class="text-important">assembly</span>/<span class="text-important">C++</span> for my so-called hobbie.</span></pre>
  <pre><span class="text-description">Nevertheless, I got to learn <span class="text-important">java</span>, <span class="text-important">python</span>, <span class="text-important">php</span> and couple of <span class="text-important">other languages</span>.</span></pre>
  <pre><span></span></pre>
  <pre><span class="text-description">Feel free to view at my github◥, type <span class="text-command">'projects'</span> command.</span></pre>
</div>
