<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/terminal.css') }}">
  
  {% block head %}{% endblock %}
</head>

<body onload="update_caret_position()">
    <main class="terminal">
      {% block content %}{% endblock %}

      <div id="command_output">
        {% block output %}{% endblock %}
      </div>
      
      {% block main %}
      <div class="mt-4">
        <form method="post" id="shell">
            <div class="caret-block" style="display: flex; align-items: center;">
                {% if current_user and current_user.is_authenticated and route %}
                  <img class="rounded-circle" style="width: 38px; margin-right: 15px;" src="{{ url_for('static', filename='images/pfps/' + current_user.pfp) }}">
                  <span style="margin-right: 5px;">{{ current_user.username }}@asd<span class="text-command">:{{ route }}$</span></span>
                {% elif route %}
                  <span style="margin-right: 5px;">guest@asd<span class="text-command">:{{ route }}$</span></span>
                {% endif %}
                <textarea class="form-control text-light" name="command" id="command_input" rows="1" wrap="off" maxlength="50" oninput="update_caret_position()" onkeydown="handle_enter_command(event)" autofocus></textarea>
                <span class="caret" id="custom_caret"></span>
            </div>
        </form>
      </div>
      {% endblock %}
    </main>

  {% block scripts %}
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/commands_handler.js') }}"></script>
  {% endblock %}

</body>
</html>
