@font-face {
    font-family: "JetBrains";
    src: url('../fonts/JetBrainsMono-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 28px;
}

body {
    font-family: "JetBrains";
    margin: 0;
    padding: 25px 40px;
    min-height: 99%;
    width: 100%;
    min-width: 550px;
    color: #519975;
    background: #1b1918;
    overflow-x: hidden;
}

::selection {
    color: #211830;
    background-color: #519975;
}

::-moz-selection {
    color: #211830;
    background-color: #519975;
}

b {
    font-weight: bold;
    text-decoration: underline;
}

/* Cursor Start */
.caret {
    font-size: 28px;
    color: #73ABAD;
    background-color: #73ABAD;
    height: 1.5em;
    width: 20px;
    max-width: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    animation: blinker 1s linear infinite;
}

.caret-block {
    position: relative;
    display: inline-block;
}

textarea.form-control {
    white-space: nowrap;
    width: 50vw;
    padding-left: 0px;
    margin-left: 10px;
    background: #1b1918;
    resize: none !important;
    outline: none !important;
    border: none !important;
    overflow: hidden;
    caret-color: rgba(0, 0, 0, 0);
}

textarea.form-control:focus {
    background: #1b1918;
    box-shadow: none;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Cursor End */

p {
    display: block;
    line-height: 1.3em;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    letter-spacing: 0.05em;
    animation: typing 0.5s steps(30, end);
}

.no-animation {
    animation: typing 0 steps(30, end);
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.index {
    color: #DCDCCC;
}

.inherit, a {
    color: #9C8394;
}
a {
    text-decoration: inherit;
}

a:hover {
    background: #73ABAD;
    color: #211830;
}

a:focus {
    outline: 0;
}

/* ASCII Art */
pre {
    margin-bottom: 0px;
    overflow: hidden;
    animation: typing 1.0s steps(30, end);
    color: rgb(100, 157, 117);
}

/* Colors */
.text-default {
    color: #519975;
}

.text-description {
    color: #B89076;
}

.text-special {
    color:#c44b4b
}

.text-important {
    color: #4cb469;
    text-shadow: 0 0 5px #22865e; 
}

.text-command {
    color: #73ABAD;
    text-shadow: 0 0 5px #73ABAD; 
}

.text-error {
    color: #B89076;
}

.gallery-wrapper {
    position: relative;
    flex-grow: 1;

    max-width: 1200px;
    max-height: 1200px;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2vmin;
    justify-items: center;
    align-items: center;
}
  
img {
    z-index: 1;
    grid-column: span 2;
    max-width: 100%;
    margin-bottom: -52%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transform: scale(1);
    transition: all .25s;

    &:nth-child(7n + 1) {
        grid-column: 2 / span 2;
    }

    &:hover {
        z-index: 2;
        transform: scale(2);
    }
}
