@font-face {
    font-family: "JetBrains";
    src: url('../fonts/JetBrainsMono-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "JetBrains";
    margin: 0;
    padding: 25px 40px;
    min-height: 99%;
    width: 100%;
    min-width: 550px;
    color: #519975;
    background: #1b1918;
    overflow-x: hidden;
}

::selection {
    color: #211830;
    background-color: #519975;
}

::-moz-selection {
    color: #211830;
    background-color: #519975;
}

b {
    font-weight: bold;
    text-decoration: underline;
}

/* Cursor Start */
.caret {
    font-size: 12px;
    color: #73ABAD;
    background-color: #73ABAD;
    height: 1.5em;
    width: 10px;
    max-width: 10px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    animation: blinker 1s linear infinite;
}

.caret-block {
    position: relative;
    display: inline-block;
}

textarea.form-control {
    white-space: nowrap;
    width: 50vw;
    padding-left: 0px;
    background: #1b1918;
    resize: none !important;
    outline: none !important;; /* Remove selection highlight */
    border: none !important;; /* Remove the border */
    overflow: hidden;
    caret-color: rgba(0, 0, 0, 0); /* Set to the background color to hide the cursor */
}

textarea.form-control:focus {
    background: #1b1918;
    box-shadow: none;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Cursor End */

p {
    display: block;
    line-height: 1.3em;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    letter-spacing: 0.05em;
    animation: typing 0.8s steps(30, end);
}

.no-animation {
    animation: typing 0 steps(30, end);
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.index {
    color: #DCDCCC;
}

.enlight {
    color: #73ABAD;
    text-shadow: 0 0 5px #73ABAD; 
}

.error {
    color: #B89076;
}

.inherit, a {
    color: #9C8394;
}
a {
    text-decoration: inherit;
}

a:hover {
    background: #73ABAD;
    color: #211830;
}

a:focus {
    outline: 0;
}

/* ASCII Art */
pre {
    margin-bottom: 0px;
    overflow: hidden;
    animation: typing 0.5s steps(30, end);
    color: rgb(100, 157, 117);
}

/* Colors */
.text-description {
    color: #B89076;
}

.text-command {
    color: #73ABAD;
    text-shadow: 0 0 5px #73ABAD; 
}

.text-error {
    color: #B89076;
}