<div>
  <hr>
  <pre><span class="text-description">List of available <span class="text-command">commands</span>:</span></pre>
  <pre><span class="text-command">whois</span>    -   <span class="text-description">Who is aASDa213ASD?</span></pre>
  <pre><span class="text-command">projects</span> -   <span class="text-description">View coding projects.</span></pre>
  <pre><span class="text-command">help</span>     -   <span class="text-description">Obviously you already know what that does.</span></pre>
  <pre><span class="text-command">ls</span>       -   <span class="text-description">Lists available folders (routes).</span></pre>
  <pre><span class="text-command">cd</span>       -   <span class="text-description">Changes directory (route).</span></pre>
  <pre><span class="text-command">system</span>   -   <span class="text-description">Displays system information and time.</span></pre>
  <pre><span class="text-command">skills</span>   -   <span class="text-description">Displays skills, you can specify one by id.</span></pre>
  <pre><span class="text-command">clear</span>    -   <span class="text-description">Clears the terminal screen.</span></pre>
</div>
