<div>
  <hr>
  <pre><span class="text-description">List of available <span class="text-command">folders</span>:</span></pre>
  <pre><span class="text-command">about</span>          -   <span class="text-description">Explains what this site is about.</span></pre>
  <pre><span class="text-command">gallery</span>        -   <span class="text-description">Showcases of my projects.</span></pre>
  <pre><span class="text-command">gamehacking</span>    -   <span class="text-description">Explains what I'm doing for living.</span></pre>
  <pre><span class="text-command">system</span>         -   <span class="text-description">Contains system information and time.</span></pre>
  <pre><span class="text-command">skills</span>         -   <span class="text-description">Contains skills list.</span></pre>
  <pre><span class="text-command">/</span>              -   <span class="text-description">Root directory.</span></pre>
</div>
